# SQL-TUTORIAL

## Was ist SQL?

1. SQL steht für Structured Query Language
2. Mit SQL können Sie auf Datenbanken zugreifen und diese manipulieren
3. SQL wurde 1986 zum Standard des American National Standards Institute (ANSI) und 1987 der International Organization for Standardization (ISO).

## Was kann SQL tun?

- SQL kann Abfragen gegen eine Datenbank ausführen
- SQL kann Daten aus einer Datenbank abrufen
- SQL kann Datensätze in eine Datenbank einfügen
- SQL kann Datensätze in einer Datenbank aktualisieren
- SQL kann Datensätze aus einer Datenbank löschen
- SQL kann neue Datenbanken erstellen
- SQL kann neue Tabellen in einer Datenbank erstellen
- SQL kann gespeicherte Prozeduren in einer Datenbank erstellen
- SQL kann Ansichten in einer Datenbank erstellen
- SQL kann Berechtigungen für Tabellen, Prozeduren und Ansichten festlegen

## Verwenden von SQL in Ihrer Website

> Um eine Website zu erstellen, die Daten aus einer Datenbank anzeigt, benötigen Sie:
>
> > Ein RDBMS-Datenbankprogramm (dh MS Access, SQL Server, MySQL) Zur Verwendung einer serverseitigen Skriptsprache wie PHP oder ASP
> >
> > > So verwenden Sie SQL, um die gewünschten Daten zu erhalten. Verwenden Sie HTML / CSS, um die Seite zu gestalten

# Link zum SQL-TUTORIAL

[W3SCHOLLS](https://www.w3schools.com/sql/default.asp)

# LUSTIGE ZEIT

![1](https://lol24.ee/public/pics/264043/264043909_0.gif)![2](https://www.mapsnbags.com/wp-content/uploads/2018/11/funny-travel-meme-girl-running.jpg)

```
<!DOCTYPE html>
<html>
<body>

<h2>An Unordered HTML List</h2>

<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>

<h2>An Ordered HTML List</h2>

<ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>

</body>
</html>
```

# TISCH

Kundennummer | Kundenname | Kontaktname | Die Anschrift | Stadt | Postleitzahl | Land
--- | --- | --- | --- | --- | --- | ---
1 | Alfred | Maria | Obere Str.57 | Berlin | 12209 | Deutschland
2 | Anna | Anna | Lavada Str.6 | Mexiko | 05021 | Mexiko
3 | Antonio | Antonio | Mataderos 12 | Mexiko | 05023 | Mexiko